{% extends 'navbar.html' %}
{% load static %}
{% block content %}

 <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <h2 class= "judul">Experience</h2>
            <div class="row">
                <div class = "col-3">
                    <img class="pmb" src={% static "image/pmb.png"%}>
                    <br>
                    <br>
                    <p class = "satu">Medical Staff</p>
                </div>
                <div class = "col-3">
                    <img class="pmb" src={% static "image/siwak.jpg"%}>      
                    <br>     
                    <br>
                    <p class = "satu">Consumption Staff</p>
                </div>
            </div>
        </div>
 </div>
 


{% endblock %}