{% extends 'navbar.html' %}
{% load static %}
{% block content %}
   
    <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <div class="row">
                <div class="col-8">
                    <h2 class= "judul">Muhammad Nadhirsyah <br>Indra</h2>
                    <div>nadhirsyah@gmail.com</div>                                      
                    
                </div>
                <div class="col-4">
                    <img class = "resize" src={% static "image/pas.jpg"%}>
                </div>
            </div>
        </div>
    </div>

{% endblock %}