{% extends 'navbar.html' %}
{% load static %}
{% block content %} 
    
    <h1>SCHEDULE</h1>
    <div class="article">
        <a href="{% url 'schedule' %}"></a>
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2>{{ schedule.activity }}</h2>
                        <p>{{ schedule.date.date }}</p>
                        <p>{{ schedule.time}}</p>
                        <p>{{ schedule.place }}</p>
                        <p>{{ schedule.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <a href="{% url 'schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
            <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
    </div>
</div>

{% endblock %}